body {
  background-color: #414141;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.todo-container {
  background-color: aliceblue;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  position: relative;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

li:last-child {
  margin-bottom: 0;
}

/* Style for the delete button */
.delButton {
  position: absolute;
  background-color: #f44336; /* Set background color */
  color: white; /* Set text color */
  border: none; /* Remove border */
  border-radius: 0; /* Make button round */
  padding: 0px; /* Add padding */
  width: 20px;
  font-size: 14px; /* Set font size */
  cursor: pointer; /* Add pointer cursor on hover */
  right: 0%;
}

/* Hover effect for the delete button */
.delButton:hover {
  background-color: #d32f2f; /* Darker background color on hover */
}



